#board {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    margin-bottom: 50px;
}


#board>div{
    border: 1px white solid;
    padding-top: 2px;
    background-color: rgb(30, 210, 75);
    color: white;
}

.blue_background{
    background-color: blue;
}

.red_background{
    background-color: red;
}
body {
    text-align: center;
}

.float_left{
    float: left;
}

.clear{
    clear: both;
}