#board {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    margin-left: 400px;
    margin-bottom: 50px;
}


#board>div{
    border: 1px white solid;
    padding-top: 2px;
    background-color: chocolate;
    color: darkblue;
}

body {
    text-align: center;
}

